@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.eot');
    src: url('fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff'),
         url('fonts/roboto-black-webfont.ttf') format('truetype'),
         url('fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.bar-positive {
    z-index: 2;
}

.bar-subheader {
    z-index: 1;
    transition: top 0.25s ease;
}

.has-subheader {
    top: 44px;
    .scroll {
        padding-top: 44px;
    }
}

body.bar-subheader-slide-away {
    .bar-subheader {
        top: 0;
    }
    .has-subheader {
        top: 44px;
    }
}

.email_icon {
    font-size: 22px;
}

.bar-subheader {
    top: 30px;
    display: block;
    height: 153px;
    background: -moz-linear-gradient(45deg, rgba(34,99,112,1) 0%, rgba(37,141,154,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(34,99,112,1)), color-stop(100%, rgba(37,141,154,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(34,99,112,1) 0%, rgba(37,141,154,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(34,99,112,1) 0%, rgba(37,141,154,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(34,99,112,1) 0%, rgba(37,141,154,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(34,99,112,1) 0%, rgba(37,141,154,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258d9a', endColorstr='#226370',GradientType=1 ); /* ie6-9 */
}
.list-inset{
    background-color: transparent;
}
.bar-header{
    background: -moz-linear-gradient(45deg, rgba(35,112,125,1) 0%, rgba(37,141,154,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(35,112,125,1)), color-stop(100%, rgba(37,141,154,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(35,112,125,1) 0%, rgba(37,141,154,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(35,112,125,1) 0%, rgba(37,141,154,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(35,112,125,1) 0%, rgba(37,141,154,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(35,112,125,1) 0%, rgba(37,141,154,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258d9a', endColorstr='#23707d',GradientType=1 ); /* ie6-9 */
    height: 30px;
}

.search_box{
    margin-top: 10px;
    background: #66aeb6;
    border: none;
    border-radius: 4px;
    padding: 2px 2px 2px 17px;
}
.bar .title{
    color: #fff;
    font-size: 21px;
    font-weight: 100;
    font-family: 'robotolight';
}
::-webkit-input-placeholder {
  color: #fff !important;
}
::-webkit-input-placeholder {
  color: #fff !important;
}
::-webkit-input-placeholder {
  color: #fff !important;
}
:-moz-placeholder {
  color: #fff !important;
}
:-ms-input-placeholder { /* IE10+ */
  color: #fff !important;
}

.placeholder-icon {
    color: #FFF;
    font-size: 23px;
    padding-right: 15px;
}

input[type="text"]{
    color: #fff;
}
.name{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'robotoblack';
    font-size: 21px;
}
.home_placeholder{
    text-align: center;
    color: #C5C5C5;
    margin: 0 50px;
}
.home_placeholder_icon{
    color: #CCC;
    font-size: 54px;
}
.home_wrapper{
    text-align: center;
    padding-top: 30%;
}
.item-avatar > img{
    border-radius: 7px !important;
    max-height: 60px !important;
    max-width: 60px !important;
}
.item-avatar{
    padding-left: 88px;
    min-height: 92px;
}
.item h2 {
    margin: 4px 0 2px 0;
    font-size: 16px;
    font-weight: bold;
}
.feedback_icon{
    width: 19px;
    position: absolute;
    right: 7px;
}
.feedback_name{
    position: absolute;
    right: 31px;
    font-weight: 100;
    color: #fff;
    font-size: 13px;
}
.platform-ios .feedback_name{
  top: 24px;
}
.platform-android .feedback_name{
  top: 6px;
}
.popup-container .popup {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: white;
}  

.popup-buttons{
    position: absolute;
    top: 0px;
    right: 1px;
}  

a.item.item-icon-left {
    border-width: 0px;
    font-size: 14px;
}

.item-icon-left .icon {
    left: 11px;
    font-size: 18px;
}
.popup-body .item-avatar{
    border: none !important;
}

.popup-buttons .button:last-child {
    margin-right: 0px;
    background: none;
}

/** Automasscomplete css**/
/*.highlight { background-color:#FFFF00; }*/

#spinner .modal {
      opacity: 0.5;
}

#spinner .modelDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -14px;
}

 #searchdiv .icon{
    /*padding-left: 18px;*/
 }
 .popoup_heading_limit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
 }
.search_inpute{
    border: none;
    padding: 6px;
    color: rgb(255, 255, 255);
}
.search_btn{
    position: absolute;
    right: 5px;
    top: 5px;
}
.search_close_btn{
    position: absolute;
    right: 10px;
    top: 5px;
}
 .right_ico_alignment{
    position: absolute;
    top: 24px;
    right: 10px;
 }
 i.ion-chevron-right {
    font-size: 25px;
}
.bar.bar-balanced.backgroud {
    border-color: #28a54c;
    background-color: #237986;
    background-image: linear-gradient(0deg, #237986, #237986 50%, transparent 50%);
    color: #fff;
}