<ion-pane>
      <div class="bar bar-header">
        <!-- <button class="button icon ion-navicon"></button> -->
          <span class="feedback_name">Feedback</span>
          <img src="img/mail.svg" class="feedback_icon">
      </div>
      <div class="bar bar-subheader" style="margin-bottom:20px;">
        <h2 class="title">Search</h2>
        <div class="list list-inset" style="margin-top: 30px;padding-bottom: 25px; ">
        <h2 class="name">CrunchBase</h2>
        <label class="item item-input search_box" style="margin-top: 20px;">
          <input type="text">
          <i class="icon ion-search placeholder-icon"></i>
        </label>
      </div>
      </div>
      <ion-content scroll-watch>
        <button class="button button-balanced" ng-click="openPopup()" style="margin-top: 94%;">open popup</button>
      </ion-content>

</ion-pane>
